.passwordDiv {
  background-image: url("../images/jungle.png");
  background-size: 100%;
  background-position: top center;
  height: auto;
  min-height: 100vh;
  width: 100%;
}

#passwordHeader {
  font-family: Papyrus, sans-serif, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1.5px;
}

.inputBox {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px !important;
  font-size: 18px !important;
  font-weight: 300;
  margin-left: 50%;
  margin-top: 10%;
  padding: 10px 20px;
  transform: translate(-50%, -50%);
  width: 300px;
}

.resetButton {
  transform: translate(50%);
  width: 50%;
}

.passwordCenter {
  text-align: center;
  border-color: black !important;
  border-radius: 15px !important;
  padding: 30px 40px;
  max-width: 500px;
  margin: auto;
}
